<div class="position-relative overflow-hidden p-md-5 text-center bg-light">
  <div class="col-md-5 p-lg-5 mx-auto my-5">
    <h1 class="disply-4 font-weight-bold"><i class="fas fa-film"></i>DocuFilm</h1>
     <p class="lead font-weight-normal">今日観た映画、明日観たい映画は何ですか？<br>ここはあなたが興味を持った映画を記録したり、探したりすることができる場所です。</p>
     <%= link_to "初めての方へ", about_path, class: 'nav-link text-dark' %>
  </div>
</div>
<div class="container px-5 px-sm-0">
 <div class="row justify-content-center">
   <div class="col-9 m-3">
     <p class="text-monospace">最近のレビュー</p>
     <hr class="text-black-50">
        <% @films.each do |film| %>
         <article class="post-preview">
          <h2 class="post-introduction">
            <%= film.introduction  %>
          </h2>
          <h4 class="post-title"><%= film.film_title %></h4>
           <div id="star-rate<%= film.id %>">Excellent!!!</div>
            <script>
              $('#star-rate<%= film.id%>').raty({
              size      : 36,
              starOff   : '<%= asset_path('star-off.png') %>',
              starOn    : '<%= asset_path('star-on.png') %>',
              half      : false,
              readOnly: true,
              score: <%= film.evaluation %>,
              });
            </script>
         </article>
         <hr>
        <% end %>
  </div>
</div>
