<div class="container text-center">
   <h4 class="mb-4">ログインする</h4>
    <%= form_with model: @user, url: user_session_path do |f| %>
      <div class="form-label-group">
        <%= f.label :メールアドレス %><br/>
        <%= f.email_field :email, autofocus: true, autocomplete: "email" %>
      </div>
      <div class="form-label-group">
        <%= f.label :パスワード %><br />
        <%= f.password_field :password, autocomplete: "current-password" %>
      </div>
      <div class="form-group">
        <%= f.submit "Log in", class: 'btn btn-secondary' %>
      </div>
    <% end %>

  <%= link_to "会員登録はこちら", new_user_registration_path, class: 'nav-link text-secondary' %>
</div>